.side-drawer {
  height: 45%;
  background-color: #1a1b22;

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  z-index: 200;
  padding-right: 16px;
  padding-left: 16px;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.side-drawer__open {
  transform: translateY(0);
}

.side-drawer__links {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
  align-items: center;
}

.side-drawer__links-link {
  align-self: flex-start;
}

.side-drawer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
}

.side-drawer a:hover {
}

.side-drawer__signin-btn {
  align-self: flex-start;
  width: 288px;
  height: 56px;
  border-radius: 100px;
  color: white;
  background-color: transparent;
  border: 0.5px solid white;
  padding: 12px;
  font-size: 18px;
}
