.search-form {
  font-family: "Roboto";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  max-width: 608px;
  /* background-image: url("../../assets/images/bg_search_img.jpg");
  background-repeat: no-repeat; */
}

.search-form__title {
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.search-form__title_subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/* .search-form__field-wrapper {
  height: 64px;
} */

.search-form__button {
  width: 168px;
  background-color: #2f71e5;
  border-radius: 100px;
  padding: 20px, 56px, 20px, 56px;
  position: absolute;

  top: 0px;
  right: 30px;
  border: 0px;
  width: 30%;
  height: 100%;
  color: white;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}
.search-form__field-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 26px;
}
.search-form__field {
  border: none;
  width: 80%;
  max-height: 66px;
  padding: 0px;
  padding: 19px 5px 19px 26px;
  border-radius: 100px;
  position: relative;
}
