.search-form {
  font-family: "Roboto";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  max-width: 608px;
  padding-top: 88px;
  padding-bottom: 88px;
}

.search-form__title {
  font-family: "Roboto-slab";
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.search-form__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.search-form__field-wrapper {
  /* width: 100%; */
  /* margin-top: 88px; */
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-around;
  margin: 0;
  flex-direction: row;
  border-radius: 50px;
  border: none;
  position: relative;
}

.search-form__button {
  background-color: #2f71e5;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.4s;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

.search-form__field {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 20px 20px 20px 40px;
  border-radius: 50px;
  border: none;
  /* flex-grow: 2; */
  color: #1a1b22;
  /* margin: auto; */
}

@media (max-width: 768px) {
  .search-form {
    /* max-width: 448px; */
    padding-top: 38px;
    padding-bottom: 48px;
  }

  .search-form__button {
    width: 160px;
    padding: 20px 16px;
    border-radius: 50px;
    border: none;
    flex-grow: 2;
    margin: auto;
  }
}

@media (max-width: 340px) {
  .search-form {
    max-width: 288px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 32px;
    height: 100%;
  }

  .search-form__button {
    position: relative;
    width: 100%;
  }

  .search-form__field-wrapper {
    max-width: 288px;
    flex-direction: column;
    gap: 16px;
  }
}
