.header {
  margin: 0 auto;

  display: flex;
  flex-flow: wrap;
  justify-content: space-around;

  background-image: url("../../assets/images/bg_search_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headerLoggedIn {
  margin: 0 auto;

  display: flex;
  flex-flow: wrap;

  background-repeat: no-repeat;
}
