.footer {
  background-color: white;
  padding: 44px 0 47px;
}

.footer__container {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.footer__link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 23px;
}

.footer__nav-link {
  font-family: "Roboto", "Inter";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.footer__copyrights {
  padding: 0;
  margin: 0;
  color: #b6bcbf;
  font-size: 16px;
}

.footer__social-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 28px;
}

.footer__social-link {
  width: 20px;
  height: 20px;
}

@media (max-width: 950px) {
  .footer {
    padding-left: 40px;
    padding-right: 25px;
  }
}

@media (max-width: 590px) {
  .footer__nav {
    margin-bottom: 38px;
    flex-direction: column;
  }
  .footer__container {
    flex-direction: column-reverse;
  }
}
