.news-card {
  background-color: #f5f6f7;
  padding-right: 104px;
  padding-left: 104px;
}

.news-card__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(224px, 400px));
  gap: 16px;
  list-style: none;
  text-decoration: none;
  padding-bottom: 64px;
}

.news-card__header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 64px;
  margin: 0;
}

.news-card__showMore-btn {
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 80px;
  border: none;
  padding: 20px 98px;
  margin-bottom: 80px;
  margin-left: 576px;
  font-size: 18px;
  line-height: 24px;
}

.news-card__showMore-btn:hover {
  background-color: #e8e8e8;
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .news-card__header {
    padding-top: 40px;
    padding-bottom: 32px;
    margin: 0;
  }
  .news-card {
    padding-left: 40px;
    padding-right: 40px;
  }
  .news-card__list {
    gap: 8px;
    padding-bottom: 32px;
  }
  .news-card__showMore-btn {
    padding: 16px 74px;
    margin-bottom: 40px;
    margin-left: 272px;
  }
}

@media screen and (max-width: 320px) {
  .news-card__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    padding-bottom: 21px;
  }
  .news-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .news-card__showMore-btn {
    margin-bottom: 24px;
    margin-left: 16px;
    white-space: nowrap;
  }
}
